@model CoffeHouse.Web.Models.ViewModels.IPageViewModel<CoffeHouse.Web.Models.Pages.SitePageBase>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>@Model.StartPage.SiteFooter</p>
            </div>
        </div>
    </div>
</footer>
